[package]
name = "elevenlabs-cli"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "Command-line interface for the ElevenLabs API"

[dependencies]
base64 = { workspace = true }
clap = { workspace = true, features = ["derive", "env"] }
elevenlabs-sdk = { path = "../../crates/elevenlabs-sdk" }
eyre = { workspace = true }
futures-util = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = [
    "rt-multi-thread",
    "macros",
    "fs",
    "io-util",
    "io-std",
] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }

[lints]
workspace = true
